{% extends "layout.html" %}

{% block title %} Lista powtórek {% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nazwa</th>
            <th>Data nastepnej powtórki</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for number, item in items %}
        <tr>
            <th scope="row">{{number}}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.next_repetition_date }}</td>
            <td><a href="{{url_for('get_memento', memento_id=item.id)}}">Przejdź do powtórki</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
